.chart rect {
	stroke: white;
	fill: steelblue;
}


div.sheet-link {
	cursor: pointer;
	padding: 5px 0px 10px 10px;
	font-size: 120%;
	border-bottom: 1px solid gray;
	color: #4682b4;
}

div.num {
	float: left;
	width: 5%;
}

div.selector {
	width: 92%;
	min-height: 30px;
	max-height: 100px;
	float: left;
	overflow: scroll;
}

div.js-clickable {
	cursor: pointer;
}

div.row {
	margin-bottom: 5px;
}

div.odd div.selector {
	background-color : #eee;
}